body {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

.punto1, .punto2, .punto3, .punto4 {
    width: 60px;
    height: 60px;
    margin-top: 40px;
}

img {
    width: 234px;
    height:175px;
    position: absolute;
    top: 100px;
    left: calc(50% - 117px);
    display: none;
}

.punto1:hover img, .punto2:hover img, .punto3:hover img, .punto4:hover img {
    display: block;
}

.fa-arrow-alt-circle-down {
    font-size: 50px;
    color: #6585ab;
    border: 1 px solid black;
}