body {
    display: flex;
    justify-content: center;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    height: 50px;
    width: 100%;
    background-color: #6585ab;
    box-shadow: 1px 1px 5px rgb(0,0,0,0.4);
    display: flex;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

li {
    padding: 5px 10px;
    width: 120px;
    cursor: pointer;
}

.main-menu {
    display: flex;
    align-content: center;
    justify-items: center;
    font-size: x-large;
    height: 50px;
}

.main-menu-item {
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    bordeR-top: 5px solid #6585ab;
}

.main-menu-item:hover {
    background-color: #406694;
    color: rgb(6, 38, 80);
    bordeR-top: 5px solid black;
}
.sub-menu {
    position: absolute;
    left: 0px;
    top: 45px;
    font-size: large;
    text-transform: none;
    color: #111;
    display: none;
}

.sub-menu-item {
    background-color: #6585ab;
    border-bottom: 2px solid #6585ab;
    position: relative;
}

.sub-menu-item:hover {
    background-color: indianred;
    color: white;
    border-bottom: 2px solid rgb(218, 68, 68);
}

.sub-sub-menu {
    position: absolute;
    left: 140px;
    top: 0px;
    font-size: small;
    display: none;
}

.sub-sub-menu-item {
    background-color: rgb(221, 129, 129);
}

.sub-sub-menu-item:hover {
    background-color: rgb(204, 114, 114);
}

.main-menu-item:hover .sub-menu, .sub-menu-item:hover .sub-sub-menu {
    display: inline-block; /* Por qué INLINE-BLOCK y no block? */
}